body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
    color: rgb(231, 233, 234);
}