* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-primary: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  color: var(--text-primary);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.text-primary {
  color: var(--text-primary);
}

.mb-1 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* place-items: center; */
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.spinner {
  margin: 0 auto;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner__icon {
  width: 60px;
  display: block;
}

.game-list__subtitle {
  font-style: italic;
  margin-bottom: 10px;
}

.title-back-btn {
  transform: rotate(180deg);
  width: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
